*{
  list-style: none;
}
html{
  font-family: 'PT Sans', sans-serif;
  box-sizing: border-box;
  background-image:url('../imgs/Rendering-after-import-and-cleanup-renders-out-of-OT-with-.gif');
  background-size:cover;
  background-position: 30%;
  background-repeat:no-repeat;
  scroll-behavior: smooth;
}

.navi a{
  color: #dd9866;
  text-decoration: none;
}

.navi li{
  margin: 10px 10px 10px 10px;

}

.navi{
  border: 2px solid #dd9866;
  border-radius: 5px;
  display: inline-block;
  font-size: 1vmax;
  text-align: center;
  align-items: center;
  position: fixed;
}

.navi :hover{
  background-color: #dd9866;
  color: #6e6d6d;
  border-radius: 5px;
}

.resume{
  width: 800px;
  background: #fff;
  margin: 25px auto;
  display: flex;
  border: 1px solid #292b2f;
  border-radius: 5px;

}

.photoHolder{
  text-align: center;
  padding: 20px 0;
}

.photoHolder img{
  width: 200px;
  border-radius: 30px;
  border: 1px solid white;
}

.contact{
  color: white;
  list-style-type: none;
  padding-bottom: 20px;
}

.contact ul{
  padding-left: 10px;
}


.left{
  background: #292b2f;
  width: 250px;
  padding: 0 20px;
}

.right{
  width: calc(100% - 250px);
}

.left .title{
  color: white;
  font-size: 2vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
}

.contact_icon{
  font-size: 20px;
  width: 50px;
  height: 50px;
  background: #5c6e91;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.contact_icon a{
  text-decoration: none;
  color: white;
}

.contact li{
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.info{
  width: calc(100% - 50px);
  border-radius: 5px;
}


.skills li{
  width: 80px;
  display: inline-block;
  text-align: center;
  color: #5c6e91;
  margin-bottom: 2px;
}

.skills_icon img{
  width: 80px;
}

.myName{
  height: 13vh;
  font-size: 2vw;
  font-style: oblique;
  color: #dd9866;
  text-align: center;
  padding-top: 3vh;
  background-color: #292b2f;
}

.myName h1{
  margin: 0;
}

.hobby_icon img{
  width: 80px;
}

.hobby_name{
  list-style-type: none;
  padding-bottom: 20px;
}

.hobby li{
  width: 80px;
  display: inline-block;
  text-align: center;
  color: #839b97;
  margin-bottom: 2px;
  margin-right: 20px;
}

.contact li :hover{
  background: #fff;
  color:#5c6e91;
}

.skills li :hover{
  transform: scale(1.1);
}

.hobby li :hover{
  transform: scale(1.1);
}

.right_inner li{
  display: flex;
  margin-bottom: 15px;
}

.right_inner{
  padding: 30px;
  color: #5c6e91;
}

.right_inner .title{
  background-color: #9ddfd3;
  color: black;
  font-size: 1.5vw;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-bottom: 10px;
  text-align: right;
  border: 1px solid #9ddfd3;
  border-radius: 5px;
}

.right_inner .date{
  background-color: #fceef5;
  color: #e05297;
  width: 125px;
  text-align: center;
  border-radius: 10px;
  padding-top: 5vh;
}

.right_inner li .info{
  width: calc(100% - 125px);
  padding-left: 25px;
  position: relative;
}

.right_inner li .info_title{
  text-transform: uppercase;
  font-family: 'Goldman', cursive;
  font-weight: 700px;
  letter-spacing: 2px;
  color: #9153c9;
}

.right_inner li .info_company{
    font-weight: 300px;
    font-size: 14px;
    margin-top: 3px
}

.right_inner li .info_desc{
    margin-top: 15px;
}

.right_inner .Results .date{
  padding-top: 3.5vh;
}

.right_inner .Curricular .date{
  padding-top: 8vh;
}

footer{
    text-align: center;
}
